{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container-login" id="container-login">
{{ include('include/_screenWidthaccept.html.twig') }}
    </div>

{% endblock %}
{% block javascripts %}
{#<script>#}
{#    const screen = $(window).width();#}
{#    const div = $('#container-login');#}
{#    $(document).ready(function (){#}
{#        if (screen<=1000){#}
{#            console.log('plus petit que 1000')#}

{#            alert("Cette application ne peut pas être utilisée depuis un appareil mobile.")#}
{#            div.remove();#}
{#        }#}
{#    })#}
{#</script>#}

{% endblock %}