{% extends 'base.html.twig' %}
{% block title %}Reinitialisation du mot de passe{% endblock %}
{% block body %}
    <div class="container-login" id="container-login">
        <div class="logo">
            <img src="{{ asset('/img/MEDIUMLOGO.png') }}" alt="LogoDekra">
        </div>
        <h3>Reinitialisation du mot de passe </h3><br>
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <div>
            <p> Si un compte est affilié à cet email, vous allez recevoir un mail contenant un lien pour reinitialiser votre mot de passe.</p>
            <p>
                Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>Si vous n'avez pas recu le mail veuillez verifier vos spams .</p>
        </div>
        <br><br>
        <a class="buttongreen" href="{{ path('app_forgot_password_request') }}">Ressayer</a>
    </div>
{% endblock %}




