.container-login {
  background-color: white;
  margin: 10% auto;
  height: 85%;
  width: 32%;
  border-radius: 10px;
  padding: 50px;
}

@media only screen and (max-width: 1000px) {
  .container-login {
    display: none;
  }
}

.container-login form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
}

.container-login input {
  padding: 15px;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  border: rgb(54, 54, 54) solid 1px;
}

.container-login a {
  color: black;
  font-weight: 900;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.logo {
  text-align: center;
}

.logo img {
  width: 47%;
  height: 100%;
}
