.dropdown {
    display: flex;
}

.dropdown .dropbtn {
    font-size: 1rem;
    border: none;
    background-color: #FFFFFF;
    margin-left: 18px;
    font-family: var(--main-font);
}
.dropdown-content {
    display: none;
    background-color: #FFF;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #FFF;
}
.dropdown:hover .dropdown-content {
    display: block;
}