:root {
  /********* Connexion *********/
  --green-bg: #007f3d;
  /* --grey-border: #0000005d; */
  --grey-border: #a7a7a7c0;
  --grey-font: #4a4a49;
  --main-bg: #f5f5f5;
  --main-font: "Montserrat", sans-serif;
}
