<h4>Bienvenue, {{ app.user.name }}</h4>
<p>Cet interface va vous permettre d'enregistrer la liste des bénéficiaires pour lesquels vous avez effectué des travaux</p>
<div class="icones">

    {% if is_granted('ROLE_CLIENT') %}
        <div class="beneficiaires">
            <i class="far fa-address-book fa-5x colorgreen"></i>
            <a href="{{ path('beneficiaire') }}">Voir les bénéficiaires</a>
        </div>
    {% endif %}
</div>