<h4>Bienvenue, {{ app.user.name }}</h4>

<p>Vous êtes super Administrateur, cette interface va vous permettre d'effectuer toutes les opérations possibles en
    ayant un controle total de la plateforme. Utilisez la barre d'accès a gauche pour inserer les départements, les
    spécialitées et les controleurs.</p>

<div class="icones">
    <div class="clients">
        <i class="fas fa-users fa-5x colorgreen"></i>
        <a href="{{ path('client') }}">Voir les clients</a>
    </div>
    <div class="prestations">
        <i class="fas fa-user-check fa-5x colorgreen"></i>
        <a href="{{ path('controleur_index') }}">Voir les contrôleurs</a>
    </div>
    <div class="prestations">
        <i class="fas fa-users-cog fa-5x colorgreen"></i>
        <a href="{{ path('members_members') }}">Voir les membres</a>
    </div>
</div>