{% extends 'base.html.twig' %}
{% block title %}Page non trouvée {% endblock %}
{% block body %}
    <div class="Background404">
        <div class="back">
{#            <img src="{{ asset('/img/road.jpg') }}" >#}
        </div>
        <div class="back-title">
            <h1 style="color: #5eb5e0">page non trouvée !!</h1>
            <p>
                Cette page n'existe pas! <a href="{{ path('dashboard_controler') }}">retour a la page d'acceuil</a>.
            </p>
        </div>
    </div>


{% endblock %}